* {
    box-sizing: border-box;
}


@font-face {
    font-family: 'texta';
    src: url('../fonts/texta_book-webfont.woff2') format('woff2'),
         url('../fonts/texta_book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*@font-face {
    font-family: 'texta';
    src: url('fonts/texta_bookit-webfont.woff2') format('woff2'),
         url('fonts/texta_bookit-webfont.woff') format('woff'),
    font-weight: normal;
    font-style: italic;
}
*/

/*html,*/
body {
    font-size: 18px;
    margin: 0;
    padding: 0;
    font-family: 'texta', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.container {
    padding: 1em;
}


.turn-clock .labels,
.turn-clock .numbers {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 40px;
}
.turn-clock .labels {
    font-size: 1em;
}
.turn-clock .label {
    flex-basis: 33%;
    flex-grow: 1;
    text-align: center;
}
.turn-clock .numbers {
    font-size: 20vw;
    line-height:1;
}
.turn-clock .number {
    flex-basis: 32%;
    flex-grow: 1;
}
.turn-clock .numbers .sep {
    flex-basis: 2%;
    flex-shrink: 1;
}
.turn-clock .number,
.turn-clock .sep {
    text-align: center;
}

.button {
    appearance: none;
    color: #FFF;
    border-radius: 0;
    border:none;
    outline: none;
    background: #888;
    padding: 2vw;
    box-sizing: border-box;
    margin-bottom: 1em;
    font-size: 4vw;
}

.button svg { 
    display:inline-block; 
    height: .8em;
}

.button--reset {
    width: 100%;
    background-color: blue;
}

.button--playpause {
    background-color: green;
}

.button--settings,
.button--playpause {
    width: 50%;
}

.settings {

}
.settings input {
    font-size: inherit;
    line-height: 2;
    border: 1px solid;
}