* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: $background;
}

.container {
    padding: 1rem;
    @include breakpoint($phablet) {
        padding: 2rem;
    }
}

// section + section {
//     margin-top: $vertical-gap;
// }