.settings {
    /*display: none;*/
    /*opacity: 0;*/
    background-color: $background;
    transition: transform .5s ease-in-out;

    position: fixed;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    padding: 2rem;

    transform: translateY(100%);
}
.settings input {
    font-size: inherit;
    line-height: 1.75;
    border: none;
    text-indent: .25em;
}

.settings input[type="number"] {
    width: 3em;
}

.settings--open {
    /*display: block;*/
    /*opacity: 1;*/
    transform: translateY(0);
}