$white : #FFF;
$black : #283D3B;
$green : #06908F;
$blue : #2B72B5;
$red : #C44536;
$camal : #DBB68F;

$background : #EDDDD4;

$vertical-gap : 1rem;

//breakpoint
$phablet : 600px;
$tablet : 768px;

@import '../node_modules/breakpoint-sass/stylesheets/breakpoint';

@import 'utilities';

@import 'typography';

@import 'layout';

@import 'clock';

@import 'button';

@import 'settings';